@model IEnumerable<DBlog.Entity.Comment>


<h2>Comments</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Comment Content</th>
                <th>Article Title</th>
                <th>Comment Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td>@comment.Content</td>
                    <td>@comment.Article?.Title</td>
                    <td>@comment.CommentDate.ToString("g")</td>
                    <td>
                        @if (!string.IsNullOrEmpty(comment.Article?.ImageFile))
                        {
                            <img src="@comment.Article.ImageFile" alt="Article Image" width="100" height="100" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                    <td>


                        <a class="btn btn-primary" asp-action="EditComment" asp-route-id="@comment.CommentId">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteComment" asp-route-id="@comment.CommentId">Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No comments found.</p>
}