@model IEnumerable<DBlog.Entity.Comment>
@section Styles {
    <style>
        .container {
            padding: 0;
            height: 100%;
        }
    </style>

}
<div class="container">
    <h2>Comments</h2>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Comment</th>
                    <th>User</th> <!-- Düzeltilmiş başlık -->
                    <th>Article Title</th>
                    <th>Comment Date</th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model)
                {
                    <tr class="table_content">
                        <td>@comment.Content</td>
                        <td>@comment.User?.UserName</td> <!-- Kullanıcı adı -->
                        <td>@comment.Article?.Title</td>
                        <td>@comment.CommentDate.ToString("g")</td>

                        <td>
                            <a class="btn btn-primary" asp-action="EditComment" asp-route-id="@comment.CommentId">Edit</a>
                            <a class="btn btn-danger" asp-action="DeleteComment" asp-route-id="@comment.CommentId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No comments found.</p>
    }
</div>