@model IEnumerable<DBlog.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<div class="container">
    <div class="d-flex">

        <h1 class="mt-4 text-center">All Articles</h1>
        <button class="btn btn-primary" asp-action="Create" asp-controller="Article">Makale Oluştur</button>

    </div>

    <div class="list-group">
        @foreach (var article in Model)
        {
            <a href="@Url.Action("Details", "Article", new { id = article.Id })"
                class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@article.Title</h5>
                </div>
                <p class="mb-1">
                    @{
                        var content = article.Content ?? string.Empty;
                        @Html.Raw(content.Length > 100 ? content.Substring(0, 100) + "..." : content)
                    }
                </p>
                <small>Published on @article.PublishedDate.ToShortDateString()</small>
                @if (!string.IsNullOrEmpty(article.ImageFile))
                {
                    <img src="@article.ImageFile" alt="@article.Title" class="img-thumbnail mt-2"
                        style="max-height: 150px; max-width: 150px;" />
                }
            </a>
        }
    </div>
</div>
